/*      GOOGLE FONTS IMPORT     */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,700&display=swap');

html {
    --arrow-size: max(1vw, 10px);
    --text-font: 'Poppins', sans-serif;
}

/*      MAIN OF BLOG PAGE      */

.blog-main {
    padding: 0 5vw;
    text-align: center;
    color: white;
    margin-bottom: 10vh;
}

/*      UL RESET  & LINKS RESET      */

.blog-main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 7.5vw;
    text-align: left;
}

.blog-main li:not(:last-child) { 
    margin-bottom: min(2vw, 20px);  
}

.blog-main a, .blog-main a:hover, .blog-main a:visited, .blog-main a:focus {
    color: white;
    text-decoration: none;
}

#blog-title {
    font-family: 'Raleway', sans-serif;
    font-size: max(3.5vw, 3.25rem);
    margin: max(2.5vw,20px) auto;
    font-weight: 900;
    scroll-margin-top: 70px;
}

#blog-date {
    margin-left: 3.5vw;
    text-align: left;
    color: rgb(162, 162, 162);
    font-family: 'Raleway', sans-serif;
    font-size: max(1.75vw, 1.1rem);
    font-style: italic;
}

#blog-image {
    width: min(90vw, 1000px);
    height: auto;
    margin: max(2.5vw,20px) auto;
    border: 5px solid black;
    box-shadow: -20px 20px rgb(255, 0, 98);
}

#blog-index {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: max(1.3vw, 0.75rem);
    margin-bottom: max(2vw, 10px);
}

#blog-index a:hover, #blog-index a:focus {
    background-color: rgba(255, 0, 98, 0.5);
    padding: 5px;
    border-radius: 3px;
}

#table-of-contents {
    border: 2px solid rgb(255, 0, 98);
    border-radius: 10px;
}

/*      BLOG CONTENT STYLES     */

.blog-heading {
    font-family: 'Raleway', sans-serif;
    font-size: max(2.25vw, 1.5rem);
    margin: 2.5vw 3.5vw;
    text-align: left;
    scroll-margin-top: 70px;
}

.blog-paragraph {
    margin: 0 3.5vw;
    margin-bottom: max(1vw, 10px);
    font-family: var(--text-font);
    font-size: max(1.25vw, 0.8rem);
    text-align: justify;
}

.blog-main iframe {
    margin: max(3.5vw, 20px);
    width: 60vw;
    height: 33.9vw;
}

.blog-main p b {
    font-family: 'Literata', serif;
}

.blog-main img {
    width: min(70vw, 800px);
    height: auto;
    margin: max(2vw,16px) auto;
    border: 5px solid black;
}

.blog-main ol {
    padding: 0;
    margin: 0 5vw;
    margin-bottom: 30px;
    font-family: var(--text-font);
    font-size: max(1.4vw, 0.9rem);
    text-align: justify;
}

.blog-main ol li {
    padding-left: 1rem;
    color: gray;
    font-weight: bolder;
}

.blog-main ol li span {
    color: white;
    font-weight: normal;
}

/*      GENERIC CSS     */

.flex-container {
    display: flex;
}

.arrow-down {
    width: 0; 
    height: 0; 
    margin: auto 0;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;    
    border-top: var(--arrow-size) solid white;
}

.indent {
    text-indent: 2rem;
}

/*      MEDIA QUERY FOR SMALL SCREEN        */

@media screen and (max-width: 680px) {
    .blog-main {
        padding: 0 16px;
        margin-bottom: 5vh;
    }

    #blog-title {
        font-size: max(4vw, 1.6rem);
    }

    #blog-image {
        box-shadow: none;
    }

    #blog-index a:focus {
        border: 1px dashed rgb(255, 0, 98);
    }

    .blog-main ol {
        margin: 20px 7.5vw;
    }
}